<p id="notice"><%= notice %></p>

<h1>Listing Chat Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Master</th>
      <th>Join</th>
      <!-- <th>Admission count</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="chat_room_list">
    <% @chat_rooms.each do |chat_room| %>
      <tr class="<%=chat_room.id%>">
        <td><%= chat_room.title %></td>
        <td><%= chat_room.master_id %></td>
        <td><%= chat_room.admissions_count %> / <%= chat_room.max_count %></td>
        <td><%= link_to 'Show', chat_room %></td>
        <% if !current_user.nil? and current_user.email == chat_room.master_id %>
          <td><%= link_to 'Edit', edit_chat_room_path(chat_room) %></td>
          <td><%= link_to 'Destroy', chat_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chat room', new_chat_room_path %>

<script>
  $(document).on('ready', function(){

    //
    function create_room(data) {
      $('.chat_room_list').append(`<tr class="${data.id}">
        <td>${data.title}</td>
        <td>${data.master_id}</td>
        <td>${data.admissions_count} / ${data.max_count}</td>
        <td><a href="/chat_rooms/${data.id}">Show</a></td>
        <td><a href="/chat_rooms/${data.id}/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/chat_rooms/${data.id}">Destroy</a></td>
      </tr>`)
    }

    function destroy_room(data) {
      $(`.${data.id}`).remove()
    }

    var pusher = new Pusher("<%=ENV['pusher_key']%>", {
      cluster: "<%=ENV['pusher_cluster']%>",
      encrypted: true
    });

    var channel = pusher.subscribe('chat_room');
    channel.bind('create', function(data) {
      create_room(data);
    });
    channel.bind('destroy', function(data) {
      destroy_room(data);
    });
  });
</script>
