<!DOCTYPE html>
<html>
<head>
  <title>Chatservice</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
</head>
<body>

  <% if user_signed_in? %>
    <p><%= current_user.email %> <%= link_to 'log_out', destroy_user_session_path, method: :delete %></p>

  <% else %>
    <p></p>
    <%= link_to 'Login', new_user_session_path %>
    <%= link_to 'Register', new_user_registration_path %>
  <% end %>
  <%= yield %>

</body>
</html>
